@import "tailwindcss";

@theme {
  --color-background: #030712;
  --color-surface: #0f172a;
  --color-primary: #5deeeb;
  --color-secondary: #06b6d4;
  /* Keep a darker cyan as secondary for depth */
  --color-accent: #5deeeb;

  --font-sans: 'Inter', sans-serif;

  --animate-pulse-slow: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --animate-float: float 6s ease-in-out infinite;

  @keyframes float {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-20px);
    }
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-background);
}

::-webkit-scrollbar-thumb {
  background: var(--color-surface);
  border-radius: 9999px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}